@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f9f9f9;
}

main {
    margin-bottom: 16px;
    
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
       
}



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.logo {
    padding-left: 1.5rem;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 25rem;
    height: 2.5rem;
    padding-left: 1rem;
}

.search-btn {
    width: 3.5rem;
    height: 2.5rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 24px;
    align-items: center;
    gap: 25px;
}

#perfil {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}



#content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 28px;
    gap: 25px;
}

#video {
    margin-left: 75px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 16px;
}

#title {
    font-weight: 600;
    font-size: 1.25rem;
}

#infos-box {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.icons {
    object-fit: none;
    display: flex;
    flex-direction: row;
   
    
}

#icons-box-profile {
    width: 160px;
    display: flex;
    gap: 12px;
}

#name-channel {
    font-size: 14px;
    font-weight: 600;
}

#num-subscribers {
    font-size: 14px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
}


    



#like {
    width: 63px;
    gap: 8px;
}

.icons-box {
    display: flex;
    align-items: center;
    justify-content: spacetween;

}

.icons-box div {
    display: flex;
    align-items: center;
}

.icons-box div a {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.icons-box div a img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.icons-box div a h2 {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.icons-box button {
    cursor: pointer;
    background-color: #CC0000;
    width: 160px;
    height: 40px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}



#video-description p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    width: 520px;
    line-height: 16.41px;
}

#side-bar {
    width: 415px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side-videos {
    display: flex;
    gap: 16px;
    height: 90px;
}

#sdvid-infobox {
    width: 196px;
}

.sdvid-title {
    font-size: 14px;
    font-weight: 600;
}

.sdvid-channel {
    font-size: 12px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    padding-top: 8px;
    padding-bottom: 7px;
}

.sdvid-views {
    font-size: 12px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    white-space: pre-line;
}

